$main-color: #e1e1e1;
$text-color: #343030;
$button-color: #ffffff;
$button-primary-bgc: #382e2b;
$button-hover-bgc: #776763;
$button-disabled-bgc: #c1b4b1;
$button-visited-bgc: #5b3a32;
$border-color: #e1e1e1;
$placeholder-color: #9f9f9f;
